<table class="table-margin table table-sm">
  <tr>
    <td>Neo Reference id:</td>
    <td id="<%= @neo_id %>"><%= @neo_id %></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= @name %></td>
  </tr>
  <tr>
    <td>Estimated Diameter (km):</td>
  </tr>
  <tr>
    <td>Maximum:</td>
    <td><%= @km_max %></td>
  </tr>
  <tr>
    <td>Minimum:</td>
    <td><%= @km_min %></td>
  </tr>
  <tr>
    <td>Estimated Diameter (m):</td>
  </tr>
  <tr>
    <td>Maximum:</td>
    <td><%= @m_max %></td>
  </tr>
  <tr>
    <td>Minimum:</td>
    <td><%= @m_min %></td>
  </tr>
  <tr>
    <td>Estimated Diameter (miles):</td>
  </tr>
  <tr>
    <td>Maximum:</td>
    <td><%= @miles_max %></td>
  </tr>
  <tr>
    <td>Minimum:</td>
    <td><%= @miles_min %></td>
  </tr>
  <tr>
    <td>Estimated Diameter (feet):</td>
  </tr>
  <tr>
    <td>Maximum:</td>
    <td><%= @feet_max %></td>
  </tr>
  <tr>
    <td>Minimum:</td>
    <td><%= @feet_min %></td>
  </tr>
  <tr>
    <td>Hazardous?</td>
    <td><%= @hazardous %></td>
  </tr>
  <tr>
    <td>More information:</td>
    <td><a href="	https://api.nasa.gov/neo/rest/v1/neo/2021277?api_key=92KjKXlfAG8eYrh0KhkkRuWKAbIwdEUAsu2wlS5c"><%= @link %></a></td>
  </tr>
</table>
